{{> header}}
<div class="wrapper">
    <div class="error panels">
        <div class="error-container">
            <h2 class="error-status">{{status}}</h2>
            <p class="error-message">{{error}}</p>
            <p><a class="error-link" href="http://{{server}}">Return to home page</a></p>
        </div>
    </div>
</div>
{{> footer}}
