<div class="form-group row">
    <label for="expires-input">Link expires</label>
    <select name="expires" class="form-control" id="expires-input" value="never">
        <option value="never">Never</option>
        <option value="60000">1 minute</option>
        <option value="3600000">1 hour</option>
        <option value="86400000">1 day</option>
        <option value="604800000">1 week</option>
        <option value="2628000000">1 month</option>
        <option value="31540000000">1 year</option>
    </select>
</div>