    </body>
    <footer id="footer">
        <section>
            <h2>About Me</h2>
            <p>My name is Dan Dupriest, and I am a software developer with a master's degree in computer science from Portland State University. I have a previous career as a Japanese interpreter and translator, and enjoy photography, board games and amateur astronomy.</p>
            <ul class="actions">
                <li><a href="https://docs.google.com/document/d/10rOAMa0dV43ctFUbePE9ajsMt-WPo2vs9APBdwfbo7I/edit?usp=sharing" class="button">Resume</a></li>
            </ul>
        </section>
        <section>
            <h2>Contact</h2>
            <dl class="alt">
                <dt>Location</dt>
                <dd>Portland, OR</dd>
                <dt>Phone</dt>
                <dd>(503) 780-7087</dd>
                <dt>Email</dt>
                <dd><a href="mailto:daniel.jon.dupriest@gmail.com">daniel.jon.dupriest@gmail.com</a></dd>
            </dl>
            <ul class="social-icons">
                <li><a href="https://www.facebook.com/daniel.dupriest" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.youtube.com/kououken" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
                <li><a href="http://www.linkedin.com/in/daniel-dupriest-76a495188" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://www.github.com/danieldupriest" class="social-icon"> <i class="fa fa-github"></i></a></li>
            </ul>
        </section>
        <p class="copyright">© Dan Dupriest. HTML/CSS design by <a href="https://twitter.com/ajlkn">@ajlkn</a>.</p>
    </footer>
</html>