        <script>
            // Setup download link
            var link = document.getElementById("download");
            const text = document.getElementById("hidden-content").value;
            var file = new Blob([text], {"type": "text/plain"});
            link.href = URL.createObjectURL(file);
            link.download = `{{link.hash}}.txt`;            
        </script>
    </body>
    <footer id="footer">
        <div class="row">
            <section class="column">
                <h3>About the app</h3>
                <p>This app was built using <a href="https://nodejs.org/en/">Node.js</a>, HTML, CSS and Javascript. It is intended to be an open source alternative to commercial URL-shortening and text-sharing web services. It is a personal project and is not guaranteed to be free from bugs or security issues. Be sure to audit code before deployment.</p>
                <p>The code is available under the <a href="https://opensource.org/licenses/MIT">MIT license</a>.</p>
                <ul>
                    <li>
                        <a href="https://github.com/danieldupriest/raviolink">Source code</a>
                    </li>
                </ul>
            </section>
            <section class="column">
                <h3>About me</h3>
                <p>My name is Dan Dupriest. I am a software developer and recent graduate of Portland State University. I have a previous career as a Japanese interpreter and translator and enjoy photography, board games and amateur astronomy.</p>
                <ul>
                    <li>
                        <a href="mailto:daniel.jon.dupriest@gmail.com">daniel.jon.dupriest@gmail.com</a>
                    </li>
                    <li>
                        <a href="https://www.github.com/danieldupriest">Github</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/daniel-dupriest-76a495188/">Linkedin</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/daniel.dupriest">Facebook</a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/kououken">YouTube</a>
                    </li>
                    <li>
                        <a href="https://dev.hypersweet.com">My website</a>
                    </li>
                    <li>
                        <a href="https://docs.google.com/document/d/10rOAMa0dV43ctFUbePE9ajsMt-WPo2vs9APBdwfbo7I/edit?usp=sharing">My resume</a>
                    </li>
                </ul>
            </section>
        </div>
        <p class="copyright">© Dan Dupriest 2022</p>
    </footer>
</html>
