<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{appTitle}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css">
        <script>
            var raw = `{{&raw}}`;
            function copyText() {
                const blob = new Blob([`{{&raw}}`], { type: "text/plain"})
                const clip = new ClipboardItem({ "text/plain": blob });
                var data = [ clip ];
                navigator.clipboard.write(data).then(() => alert("Copied."));
            }
        </script>
    </head>
    <body class="{{#link}}link{{/link}}">
        <header>
            <div id="title">
                <img src="images/logo.png"/>
                <h1>Raviolink</h1>
            </div>
            <p id="subtitle">Share shortened URLs, text and code.</p>
        </header>