<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{appTitle}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <script>
            var raw = `{{list.content}}`;
            function copyContent(id) {
                const input = document.getElementById(id);
                input.select();
                input.setSelectionRange(0,999999999);
                document.execCommand("copy");
                window.alert("Text copied.");
            }
        </script>
    </head>
    <body class="{{#link}}link{{/link}}">
        <header>
            <div id="title">
                <img src="/images/logo.png"/>
                <h1>Raviolink</h1>
            </div>
            <p id="subtitle">Share shortened URLs, text and code.</p>
        </header>
