{{> header}}
<div class="wrapper{{#link}}{{#isText}} full-width{{/isText}}{{/link}}">
    <input class="radio" id="one" name="group" type="radio" {{^link}}checked{{/link}}>
    <input class="radio" id="two" name="group" type="radio">
    <input class="radio" id="three" name="group" type="radio">
    {{#link}}<input class="radio" id="four" name="group" type="radio" checked>{{/link}}
    <div class="tabs">
        <label class="tab" id="one-tab" for="one">Shorten URL</label>
        <label class="tab" id="two-tab" for="two">Share text</label>
        <label class="tab" id="three-tab" for="three">Share file</label>
        {{#link}}<label class="tab" id="four-tab" for="four">Link</label>{{/link}}
    </div>
    <div class="panels">
        {{> panelOne}}
        {{> panelTwo}}
        {{> panelThree}}
        {{#link}}
            <div class="panel" id="four-panel">
                {{#showLink}}
                <div id="link-container" class="shadow">
                    <div id="link-label">Link</div>
                    <div id="link-text">{{server}}/{{uid}}</div>
                    <a id="link-anchor" href="#" onclick=copyContent("hidden-link")>Copy</a>
                </div>
                {{/showLink}}
                {{#isUrl}}<h2 id="content-title">Full URL</h2>{{/isUrl}}
                {{#isFile}}
                    {{#isImage}}<h2 id="content-title">Image</h2>{{/isImage}}
                    {{^isImage}}<h2 id="content-title">File</h2>{{/isImage}}
                {{/isFile}}
                {{#isText}}<h2 id="content-title">Text</h2>{{/isText}} 
                
                <div id="content" class="shadow">
                    {{^isUrl}}
                    <div id="content-header">
                        <div id="content-size">{{size}}</div>
                        {{#isText}}
                            <a href="#" onclick=copyContent("hidden-content")>Copy Text</a>
                            <a href="#" id="download">Download</a>
                        {{/isText}}
                    </div>
                    {{/isUrl}}
                    {{#isUrl}}
                        <code id="content-text"><div>{{content}}</div></code>
                    {{/isUrl}}
                    {{#isText}}<code id="content-text" class="hljs">{{#rows}}<div>{{.}}</div>{{/rows}}</code>{{/isText}}
                    {{#isFile}}
                        <a id="content-file" href="http://{{server}}/{{uid}}/file">
                            {{#isImage}}
                                <img id="content-image" src="./{{uid}}/file" alt="Image {{content}}"/>
                            {{/isImage}}
                            {{^isImage}}
                                <img id="content-file-icon" src="./images/file.png" alt="File icon"/>
                                <div id="content-file-name">{{content}}</div>
                            {{/isImage}}
                        </a>
                    {{/isFile}}
                    <textarea id="hidden-content">{{content}}</textarea>
                    <textarea id="hidden-link">http://{{server}}/{{uid}}</textarea>
                </div>
                <dl>
                    <div class="definition">
                        <dt>Created on</dt>
                        <dd>{{createdOn}}
                    </div>
                    {{#expiresOn}}
                        <div class="definition">
                            <dt>Link expires</dt>
                            <dd>{{expiresOn}}</dd>
                        </div>
                    {{/expiresOn}}
                    <div class="definition">
                        <dt>Delete on view</dt>
                        <dd>{{deleteOnView}}</dd>
                    </div>
                    <div class="definition">
                        {{#isText}}<dt>Display as raw</dt>{{/isText}}
                        {{#isFile}}<dt>Direct download</dt>{{/isFile}}
                        <dd>{{raw}}</dd>
                    </div>
                    <div class="definition">
                        <dt>No. of views</dt>
                        <dd>{{views}}</dd>
                    </div>
                    <div class="definition">
                        <dt>QR code</dt>
                        <dd><canvas id="qr-code" class="shadow"></canvas></dd>
                    </div>
                </dl>
            </div>
        {{/link}}
  </div>
</div>
<script>
    init();
</script>
{{> footer}}
