{{> header}}
<div class="wrapper">
    <input class="radio" id="one" name="group" type="radio" {{^link}}checked{{/link}}>
    <input class="radio" id="two" name="group" type="radio">
    <input class="radio" id="three" name="group" type="radio">
    {{#link}}<input class="radio" id="four" name="group" type="radio" checked>{{/link}}
    <div class="tabs">
        <label class="tab" id="one-tab" for="one">Shorten URL</label>
        <label class="tab" id="two-tab" for="two">Share text</label>
        <label class="tab" id="three-tab" for="three">Share code</label>
        {{#link}}<label class="tab" id="four-tab" for="four">Link</label>{{/link}}
    </div>
    <div class="panels">
        <div class="panel" id="one-panel">
            <form action="http://{{server}}" method="post">
                <p>Paste in a long URL to generate a short link. It should begin with <code>https://</code> or <code>http://</code>.</p>
                <div class="form-group">
                    <label for="url-input">URL to shorten</label>
                    <input type="url" name="content" class="form-control is-valid" id="url-input" placeholder="http://example.com" required>
                </div>
                <div class="form-group">
                    <label for="expires-input">Link expires</label>
                    <select name="expires" class="form-control" id="expires-input" value="never">
                        <option value="never">Never</option>
                        <option value="3600000">1 hour</option>
                        <option value="86400000">1 day</option>
                        <option value="604800000">1 week</option>
                        <option value="2628000000">1 month</option>
                        <option value="31540000000">1 year</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="delete-on-view-input">Delete on view</label>
                    <input type="checkbox" class="form-control" id="delete-on-view-input" name="deleteOnView" value="true">
                </div>
                <input type="hidden" name="type" value="link"/>
                <button type="submit" class="btn btn-primary">Create link</button>
            </form>  
        </div>
        <div class="panel" id="two-panel">
            <form action="http://{{server}}" method="post">
                <p>Paste in the plain text you wish to share. The generated link will display the text. You can paste up to around 500,000 characters, or about the length of the Mary Shelley novel Frankenstein.</p>
                <div class="form-group">
                    <label for="text-input">Text to share</label>
                    <textarea rows=5 maxlength=500000 name="content" class="form-control is-valid" id="text-input" placeholder="Paste or type your text here..." required></textarea>
                </div>
                <div class="form-group">
                    <label for="expires-input">Link expires</label>
                    <select name="expires" class="form-control" id="expires-input" value="never">
                        <option value="never">Never</option>
                        <option value="3600000">1 hour</option>
                        <option value="86400000">1 day</option>
                        <option value="604800000">1 week</option>
                        <option value="2628000000">1 month</option>
                        <option value="31540000000">1 year</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="delete-on-view-input">Delete on view</label>
                    <input type="checkbox" class="form-control" id="delete-on-view-input" name="deleteOnView" value="true">
                </div>
                <div class="form-group">
                    <label for="raw-input">Display as raw</label>
                    <input type="checkbox" class="form-control" id="raw-input" name="raw" value="true">
                </div>
                <input type="hidden" name="type" value="text"/>
                <button type="submit" class="btn btn-primary">Create link</button>
            </form>
        </div>
        <div class="panel" id="three-panel">
            <form action="http://{{server}}" method="post">
                <p> Paste in the code you wish to share. The generated link will display the code with line numbers, and if the type can be detected, syntax hilighting will be applied. You can paste up to around 500,000 characters, or about 7,000 lines of code.</p>
                <div class="form-group">
                    <label for="code-input">Code to share</label>
                    <textarea rows=5 maxlength=500000 name="content" class="form-control is-valid" id="code-input" placeholder="Paste or type your code here..." required></textarea>
                </div>
                <div class="form-group">
                    <label for="expires-input">Link expires</label>
                    <select name="expires" class="form-control" id="expires-input" value="never">
                        <option value="never">Never</option>
                        <option value="3600000">1 hour</option>
                        <option value="86400000">1 day</option>
                        <option value="604800000">1 week</option>
                        <option value="2628000000">1 month</option>
                        <option value="31540000000">1 year</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="delete-on-view-input">Delete on view</label>
                    <input type="checkbox" class="form-control" id="delete-on-view-input" name="deleteOnView" value="true">
                </div>
                <div class="form-group">
                    <label for="raw-input">Display as raw</label>
                    <input type="checkbox" class="form-control" id="raw-input" name="raw" value="true">
                </div>
                <input type="hidden" name="type" value="code"/>
                <button type="submit" class="btn btn-primary">Create link</button>
            </form>
        </div>
        {{#link}}
            <div class="panel" id="four-panel">
                <h2>
                    {{#url}}Link to {{link.content}}{{/url}}{{#code}}Code{{/code}}{{#text}}Text{{/text}} created on {{shortDate}}
                </h2>
                <dl>
                    <div class="definition">
                        <dt>Link expires:</dt>
                        <dd>{{link.expiresOn}}</dd>
                    </div>
                    <div class="definition">
                        <dt>Delete on view:</dt>
                        <dd>{{link.deleteOnView}}</dd>
                    </div>
                    <div class="definition">
                        <dt>Display as raw:</dt>
                        <dd>{{link.raw}}</dd>
                    </div>
                    <div class="definition">
                        <dt>QR code:</dt>
                        <dd><canvas id="qr-code"></canvas></dd>
                    </div>
                </dl>
                <div id="content">
                    <div id="link-container">
                        <div id="link-label">Link</div>
                        <div id="link-text">{{server}}/{{link.uid}}</div>
                        <a id="link-anchor" href="#" onclick=copyContent("hidden-link")>Copy</a>
                    </div>
                    <div id="content-links">
                        {{^url}}<a href="#" onclick=copyContent("hidden-content")>Copy Text</a>
                        <a href="#" id="download">Download RAW</a>{{/url}}
                    </div>
                    {{#code}}<code id="content-code">{{link.content}}</code>{{/code}}
                    {{#text}}<pre id="content-text">{{#rows}}<div>{{.}}</div>{{/rows}}</pre>{{/text}}
                    <textarea id="hidden-link">{{server}}/{{link.uid}}</textarea>
                    {{^url}}<textarea id="hidden-content">{{{link.content}}}</textarea>{{/url}}
                </div>
            </div>
        {{/link}}
  </div>
</div>
{{> footer}}
