{{> header}}
<div class="wrapper full-width">
    <input class="radio" id="one" name="group" type="radio">
    <input class="radio" id="two" name="group" type="radio">
    <input class="radio" id="three" name="group" type="radio">
    <input class="radio" id="four" name="group" type="radio" checked>
    <div class="tabs">
        <label class="tab" id="one-tab" for="one">Shorten URL</label>
        <label class="tab" id="two-tab" for="two">Share text</label>
        <label class="tab" id="three-tab" for="three">Share file</label>
        <label class="tab" id="four-tab" for="four">Link list</label>
    </div>
    <div class="panels">
        {{> panelOne}}
        {{> panelTwo}}
        {{> panelThree}}
        <div class="panel" id="four-panel">
            <h2>Links</h2>
            <p>Below are shown all links which have not been deleted, are expired, or set to delete on view.</p>
            <table class="styled-table">
                <tr><th>UID</th><th>Type</th><th class="table-content">Content</th><th>Views</th><th>Date Created</th></tr>
                {{#links}}
                    <tr><td class="uid"><a href="http://{{server}}/{{uid}}">{{uid}}</a></td>
                        <td class="type">{{type}}</td>
                        <td class="table-content">
                            {{#isFile}}
                                <a href="http://{{server}}/{{uid}}/file">
                                {{#isImage}}<img src="http://{{server}}/{{uid}}/file" alt="{{content}}" />{{/isImage}}
                                {{^isImage}}{{content}}{{/isImage}}
                                </a>
                            {{/isFile}}
                            {{#isText}}{{shortContent}}{{/isText}}
                            {{#isUrl}}<a href="{{content}}">{{shortContent}}</a>{{/isUrl}}
                        </td>
                        <td class="table-views">{{views}}</td>
                        <td class="date">{{createdOn.toShortDate}}</td>
                    </tr>
                {{/links}}
            </table>
        </div>
    </div>
</div>
<script>
    init();
</script>
{{> footer}}