{{> header}}
<div class="wrapper full-width">
    <input class="radio" id="one" name="group" type="radio">
    <input class="radio" id="two" name="group" type="radio">
    <input class="radio" id="three" name="group" type="radio">
    <input class="radio" id="four" name="group" type="radio" checked>
    <div class="tabs">
        <label class="tab" id="one-tab" for="one">Shorten URL</label>
        <label class="tab" id="two-tab" for="two">Share text</label>
        <label class="tab" id="three-tab" for="three">Share file</label>
        <label class="tab" id="four-tab" for="four">Link list</label>
    </div>
    <div class="panels">
        {{> panelOne}}
        {{> panelTwo}}
        {{> panelThree}}
        <div class="panel" id="four-panel">
            <h2>Links{{#ip}} from IP {{ip}}{{/ip}}</h2>
            <p>Below are shown all links {{#ip}}submitted from this IP {{/ip}}which have not been deleted, are expired, or set to delete on view.</p>
            <dl>
                <div class="definition">
                    <dt>Total size on disk</dt>
                    <dd>{{totalSizeOnDisk}}</dd>
                </div>
            </dl>
            <form id="delete-form" return false;" method="POST" action="http://{{server}}/delete">
                <div class="scrolling-container">
                    <table class="styled-table">
                        <tr>
                            <th><input type="checkbox" id="select-all-input" class="form-control"></th>
                            <th>UID</th>
                            <th>Type</th>
                            <th class="table-content">Content</th>
                            <th>Views</th>
                            <th>Date Created</th>
                            <th>IP</th>
                        </tr>
                        {{#links}}
                            <tr>
                                <td class="table-select"><input type="checkbox" class="form-control delete-select" name="{{uid}}"></td>
                                <td class="uid"><a href="http://{{server}}/{{uid}}">{{uid}}</a></td>
                                <td class="type">{{type}}</td>
                                <td class="table-content">
                                    {{#isFile}}
                                        <a href="http://{{server}}/{{uid}}/file">
                                        {{#isImage}}<img src="http://{{server}}/{{uid}}/file?size={{thumbSize}}" alt="{{content}}" />{{/isImage}}
                                        {{^isImage}}{{content}}{{/isImage}}
                                        </a>
                                    {{/isFile}}
                                    {{#isText}}{{shortContent}}{{/isText}}
                                    {{#isUrl}}<a href="{{content}}">{{shortContent}}</a>{{/isUrl}}
                                </td>
                                <td class="table-views">{{views}}</td>
                                <td class="date">{{createdOn.toShortDate}}</td>
                                <td class="table-ip"><a href="http://{{server}}/ip/{{ip}}">{{ip}}</a></td>
                            </tr>
                        {{/links}}
                        {{^links}}
                            <tr>
                                <td colspan=7>No links found</td>
                            </tr>
                        {{/links}}
                    </table>
                </div>
                <div class="form-group row">
                    <label class="field-label" for="admin-password-input">Admin password</label>
                    <input id="admin-password-toggle" type="checkbox" class="tip-checkbox"/>
                    <label class="tip-label" for="admin-password-toggle">?</label>
                    <label class="tip-text" for="admin-password-toggle">Enter the administrator password to delete the selected links.</label>
                    <input type="password" class="form-control" id="admin-password-input" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Delete selected links</button>
            </form>
        </div>
    </div>
</div>
<script>
    init();
</script>
{{> footer}}