@import url(https://fonts.googleapis.com/css?family=Lato);

:root {
    --accent: #833999;
    --highlight: #e285ff;
    --offwhite: #eee;
    --disabled: #ccc;
    --light-gray: #ccc;
    --dark-gray: #aaa;
    --narrow: 500px;
    --wide: 700px;
}

* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body{
    background-color: var(--accent);
    background-image: url("../images/checker.png");
    background-repeat: repeat;
    /*font-family: sans-serif;*/
    font-family: 'Lato', sans-serif;
    font-size: 114%;
    line-height: 1.5;
    overflow-x: hidden;
}
body > * {
    max-width: var(--narrow);
}
.link header,
.link .wrapper,
.link footer{
    max-width: var(--wide);
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em auto;
}
#title{
    color: #fff;
    display: flex;
    align-items: center;
}
#title h1 {
    text-transform: uppercase;
    margin: 0 0 0 .5em;
    text-decoration: none;
}
#title img {
    width: 50px;
}
#subtitle {
    color: var(--offwhite);
    opacity: .85;
}
.wrapper{
    margin: 0 auto;
}
.tabs{
    display: flex;
}
.tabs * {
    flex-grow: 1;
}
.tab{
    cursor: pointer;
    background: var(--disabled);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    color: var(--accent);
    flex-basis: 25%;
    padding: .75em .125em .5em .125em;
    text-align: center;
}
.tab+.tab {
    margin-left: .25em;
}
.panels{
  background: var(--offwhite);
  box-shadow: 0 2rem 2rem #00000080;
  min-height: 200px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding:20px;  
}
.panel{
  display:none;
  animation: fadein .8s;
}
.panel p {
    margin: 0;
}
.form-group {
    margin-top: 1em;
}
.form-group+.form-group {
    margin-top: 1em;
}
label {
    display: block;
    font-weight: bold;
}
input[type=text], textarea, input[type=url] {
    background: #fff;
    display: block;
    border: 1px solid gray;
    border-radius: 5px;
    font-family: monospace;
    font-size: 100%;
    padding: .25em .5em;
    min-height: 3em;
    width: 100%;
}
.btn {
    border: 1px solid var(--accent);
    background: var(--offwhite);
    font-size: 100%;
    font-weight: bold;
    padding: .5em 1em;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1em;
}
.btn:hover {
    background: var(--highlight);
    color: #fff;
}
.btn-primary {
    background: var(--accent);
    color: #fff;
}
@keyframes stretch {
    from {
        max-height: 0px;
    }
    to {
        max-height: 100%;
    }
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.radio{
  display:none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel,
#four:checked ~ .panels #four-panel{
  display:block
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab,
#four:checked ~ .tabs #four-tab{
  background: var(--offwhite);
  color: var(--accent);
  border-top: 5px solid var(--highlight);
  font-weight: bold;
}
#content {
    font-family: monospace;
    line-height: 1.5rem;
    counter-reset: line;
}
#content-text,
#content-code {
    font-size: 125%;
    margin-top: 0;
    white-space: pre-wrap;
}

#content-text {
    white-space: break-spaces;
}

#content-text div,
#content-code div {
    background: var(--light-gray);
    padding: .25em .25em .25em 3rem;
    overflow-x: hidden;
    position: relative;
}

#content-text div:nth-child(2n+1),
#content-code div:nth-child(2n+1) {
    background: #dfdfdf;
}

#content-text div:before,
#content-code div:before {
    content: counter(line);
    counter-increment: line;
    display: block;
    font-weight: bold;
    padding: 0 .5em;
    color: #555;
    position: absolute;
    left: 0;
    text-align: right;
    width: 2rem;
}
   
#content-links {
    display: flex;
    font-family: 'Lato', sans-serif;
    justify-content: flex-end;
    margin-top: 1em;
}
#content-links a {
    background: var(--light-gray);
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    color: #000;
    font-size: 100%;
    padding: .25em .5em;
    margin-left: .5em;
}
#content-links a:hover {
    background: #fff;
}

dl {
    display: table;
}
dl * {
    vertical-align: top;
}
.definition {
    display: table-row;
}
dt, dl {
    padding-bottom: .5em;
}
dt {
    display: table-cell;
    font-weight: bold;
    white-space: nowrap;
}
dd {
    display: table-cell;
    padding-left: 1em;
    width: 100%;
}
#qr-code {
    transition: fadein 1s;
}
#link-container {
    background: #fff;
    display: flex;
    font-weight: bold;
    border-radius: 1.5em;
    overflow: hidden;
    justify-content: flex-start;
    flex-wrap: nowrap;
}
#link-label {
    background: var(--accent);
    color: #fff;
    display: inline-block;
    font-size: 150%;
    font-weight: normal;
    padding: .5em 1em;
    margin-right: .5em;
}
#link-text {
    font-size: 150%;
    color: var(--accent);
    flex-grow: 1;
    padding: .5em;
}
#link-anchor {
    background: var(--dark-gray);
    color: #000;
    display: block;
    font-family: sans-serif;
    font-size: 120%;
    font-weight: normal;
    padding: .5em 1em;
}
#link-anchor:hover {
    background: var(--light-gray);
}
#hidden-link,
#hidden-content {
    display: none;
    width: 0;
    height: 0;
    position:relative;
    left: 100000px;
}

/** ERROR PAGE **/
.error-status,
.error-message {
    font-size: 200%;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
}
.error-message {
    font-size: 150%;
}
.error-link {
    display: block;
    text-align: center;
    color: var(--accent);
}
.error-link:hover {
    text-decoration: underline;
}
#footer {
    color: #fff;
    padding: 2em 1em 3em 1em;
    opacity: 0.9;
    margin: 0 auto;
}
#footer a {
    color: #fff;
}
#footer a:hover {
    text-decoration: underline;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
}
.row > * {
    flex-grow: 1;
}
.column {
    flex-basis: 30rem;
}
.copyright {
    text-align: center;
}
@media only screen and (max-width: 560px) {
    #link-label {
        display: none;
    }

}
@media only screen and (max-width: 450px) {
    #link-container {
        flex-direction: column;
    }
    .row {
        flex-direction: column;
    }
}
